<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<link rel="shortcut icon" href="@Url.Content("~/Images/favicon.png")"/>
	<link rel="stylesheet" href="@Url.Content("~/Stylesheets/bootstrap.min.css")"/>
	<link rel="stylesheet" href="@Url.Content("~/Stylesheets/site.less")"/>
</head>
<body>
	@RenderBody()
</body>
</html>
